*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;  
}

.col{
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width:80%;
  max-width: 1800px;
  min-width: 600px;
  margin:0 auto;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  border-radius: 10px;
  color: white;
}

.description p{
  padding-top: 25px;
  font-weight: 600;
  font-size: 1.1rem;
}

.description p:last-child{
  font-weight: 400;
  font-size: 1.2rem;
  color: #a6a6a6;
}


/* HEADER TOP*/
.header-top{
  height: 200px;
  margin-bottom: 40px;
}

.logo{
  margin-bottom: 60px;
}

.logo img{
  width: 220px;
}

.logo.menu{
  float: flex;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 10px;
}


nav ul li a{
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  color: #a3a3a3;
  text-transform: uppercase;
}

nav ul li a:hover{
  color: #cbbcb6;
}


/* HEADER-BOTTOM */
.jumbotron{
  height: 644px;
  margin-bottom: 42px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  
}

.jumbotron .text{
  padding-top: 27%;
  padding-left: 51px;
}


.jumbotron p{
  width: 55%;
  font-size: 1.2rem;
  font-weight: 400
}

.jumbotron h3{
  width: 55%;
  font-size: 2.5rem;
  font-weight: 400;
}



/* MAIN */

.box-sup{
  height: 125px;
}

.box-leadership h3{
  padding-top: 25px;
  font-weight: bolder;
  font-size: 3rem;
}

.box-leadership p{
  font-size: 1.2rem;
  color: #a3a3a3;
}
aside{
  width: 18%;
  height: 800px;
}

aside.col-left{
  margin-right: 2%;
}

.col-left .img-left{
  height: 250px;
  background-image: url(../img/img-1.jpg);
  background-position: center;
}

section{
  width: 60%;
  height: 800px;
}

.col-center .img-center{
  height: 250px;
  background-image: url(../img/banner-2.jpg);
  background-position: center;
}

aside.col-right{
  margin-left: 2%;
}

.col-right .img-right{
  height: 250px;
  background-image: url(../img/img-3.jpg);
  background-position: center;
}
/* FOOTER */
footer{
  height: 100px;
  margin-bottom: 50px;
}

footer p{
  font-size: 1.2rem;
  text-align: center;
  line-height: 100px;
}

footer p::after{
  content: "\2764";
  font-size: 1.5rem;
  color: red;
}